.welcome {
  display: flex;
  flex-direction: column;
  padding: var(--gap-small) var(--gap-medium);
  align-items: center;
  justify-content: center;
}

.avatarImageContainer,
.avatarImageContainer img {
  display: none;
}

/* Desktop */
@media screen and (min-width: 1121px) {
  .welcome {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .avatarImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--gap-medium);
  }
  .avatarImageContainer img {
    display: block;
    width: 100%;
    height: auto;
  }
}
