.changePasswordForm {
  padding: var(--gap-medium) var(--gap-small);
  background-color: var(--light-gray);
  width: 100%;
  border: 15px solid var(--pink);
  position: inherit;
  z-index: 2;
}

.action {
  margin-top: 1rem;
}
.changePasswordForm div:first-child {
  margin-top: 0;
}

.honeyPot {
  display: none;
}

.invalidMessage {
  margin-top: 1rem;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) {
  .changePasswordForm {
    width: 28rem;
  }
}

/*  Desktop */
@media screen and (min-width: 1121px) {
}
