.changePasswordForm {
  max-width: 30rem;
  padding-bottom: 1rem;
}

.action {
  margin-top: 1rem;
}
.changePasswordForm div:first-child {
  margin-top: 0;
}

.honeyPot {
  display: none;
}

.invalidMessage {
  margin-top: 1rem;
}
