.changePasswordForm {
  padding: 1rem;
  background-color: var(--pink);
}

.action {
  margin-top: 1rem;
}
.changePasswordForm div:first-child {
  margin-top: 0;
}

.honeyPot {
  display: none;
}

.invalidMessage {
  margin-top: 1rem;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) {
  .changePasswordForm {
    width: 70%;
  }
}
