.formContainer {
  display: flex;
  flex-direction: column;
  padding: var(--gap-medium) var(--gap-small);
  border: 15px solid var(--pink);
  position: relative;
  margin-top: 5rem;
  margin-bottom: 3rem;
  max-width: 600px;
  align-self: center;
}

.corner {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(-45deg, var(--pink) 50%, var(--green) 50%);
}

.clamp {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -70%);
  border-bottom: 45px solid var(--dark-gray);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  width: 100px;
}

.clamp::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 40px;
  height: 40px;
  background: var(--dark-gray);
  border-radius: 50%;
}
.clamp::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -80%);
  width: 10px;
  height: 10px;
  background: var(--white);
  border-radius: 50%;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcomeTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcomeTextContainer h1 {
  color: var(--cerise);
}
.welcomeTextContainer h2 {
  text-align: center;
  margin-top: var(--gap-mini);
  color: var(--cerise);
}

.avatarImageContainer,
.avatarImageContainer img {
  display: none;
}

.formContainer {
  width: 100%;
}

.form {
  padding: var(--gap-medium) var(--gap-small) calc(var(--gap-medium) + 5px)
    var(--gap-small);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.honeyPot {
  display: none;
  visibility: hidden;
}

.row {
  display: flex;
  gap: var(--gap-small);
  flex-direction: column;
  margin-bottom: 1rem;
}

.control {
  flex: 1;
  min-width: 10rem;
}

.controlBtn {
  margin-top: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.controlBtn p {
  margin-top: var(--gap-small);
  color: var(--cerise);
}

@media (min-width: 501px) and (max-width: 1120px) {
  .intro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }

  .welcomeText span {
    font-size: 1rem;
  }

  .avatarImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .avatarImageContainer img {
    display: block;
    width: 100%;
    height: auto;
  }
}
@media (min-width: 1121px) {
  .formContainer h2 {
    font-size: 1rem;
  }

  .avatarImageContainer,
  .avatarImageContainer img {
    display: none;
  }

  .row {
    flex-direction: row;
  }
}
