.welcomeContainer {
  display: flex;
  flex-direction: column;
  padding: var(--gap-small);
  position: absolute;
  width: 80%;
  height: 70%;
  margin-top: 1rem;
}

/* .welcomeTextContainer {
  padding: 0 0 var(--gap-small) 0;
} */

.welcomeText {
  display: flex;
  color: var(--dark-gray);
  flex-direction: column;
  align-items: center;
}

.welcomeText span {
  font-size: 7vw;
}

.logotype {
  width: 11vw;
  height: 11vw;
}

.welcomeText span:nth-child(2) {
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}



.welcomeText span:last-child {
  margin-bottom: 0;
}

 .form {
  background-color: var(--purple);
  padding: 0 var(--gap-small);
}

.honeyPot {
  display: none;
  visibility: hidden;
}


.headline {
  text-align: center;
  margin-bottom: var(--gap-small);
  margin-top: var(--gap-small);
}

.headline h2 {
  font-size: 5vw;
  color: var(--dark-gray);
  margin-bottom: var(--gap-small);
  line-height: 1.5;
}

.row {
  display: flex;
  gap: var(--gap-small);
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.control {
  flex: 1;
  min-width: 10rem;
}

.controlBtn {
  margin-top: 0.7rem;
  display: flex;
  align-items: center;
} 

@media (min-width: 375px) and (max-width: 700px) {
  .welcomeContainer {
    background-color: rgb(160, 104, 32);
  }
}

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
} */

/* Desktop */
/* @media screen and (min-width: 1121px) {
  .welcomeContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .welcomeTextContainer {
    border-bottom: none;
    border-right: var(--border-purple);
    margin-right: var(--gap-small);
  }

  .welcomeText {
    padding-right: var(--gap-small);
  }

  .welcomeText span:nth-child(2) {
    font-size: 7rem;
  }
  .welcomeText span:first-child,
  .welcomeText span:last-child {
    font-size: 2rem;
  }
} */
