.formContainer {
  background-color: var(--light-gray);
  color: var(--dark-gray);
  padding-top: var(--gap-small);
  padding-bottom: var(--gap-small);
  width: 100%;
  max-width: 50rem;
}

.formHeader,
.participantItem {
  display: grid;
  grid-template-columns: 70% 15% 15%;
}

.formHeader h2 {
  font-size: 1.2rem;
  padding: var(--gap-small);
}

.formHeader h2:first-child {
  font-size: 1.5rem;
}

.participantItem h3:first-child {
  font-size: 1rem;
}

.formHeader h2:first-child,
.participantItem h3:first-child {
  padding-left: 0;
}

.checkboxFriends,
.checkboxLove,
.participantItem h3 {
  padding: var(--gap-small);
}

.love,
.checkboxLove {
  background-color: var(--cerise);
}
.friends,
.checkboxFriends {
  background-color: var(--green);
}

.love,
.checkboxLove {
  grid-column: 2/3;
  text-align: center;
}

.friends,
.checkboxFriends {
  grid-column: 3/-1;
  text-align: center;
}

.participantItem,
.formHeader {
  border-bottom: var(--border-dark-gray);
}

.btnContainer {
  margin-top: 2rem;
}

.formIsFilledIn {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-blue);
  color: var(--dark-gray);
}
