.formContainer {
  background-color: var(--light-gray);
  color: var(--dark-gray);
  padding-bottom: var(--gap-small);
  width: 100%;
  max-width: var(--content-width);
}

.formHeader,
.participantItem {
  display: grid;
  grid-template-columns: 1fr 20% 20%;
}

.loveLabel,
.friendsLabel {
  display: none;
}

.participantsHeadline {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.participantName {
  text-transform: capitalize;
}

.checkboxLabelLove,
.checkboxLabelFriends {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--gap-small);
}

.checkboxLabelLove,
.checkboxLove {
  grid-column: 2/3;
  text-align: center;
}

.checkboxLabelFriends,
.checkboxFriends {
  grid-column: 3/-1;
  text-align: center;
}

.participantItem h3:first-child {
  font-size: 1rem;
}

.participantItem h3:first-child {
  padding-left: 0;
  display: flex;
  align-items: center;
}

.checkboxLove,
.checkboxFriends {
  padding: var(--gap-small);
}

.participantItem,
.formHeader {
  border-bottom: var(--border-dark-gray);
}

.btnContainer {
  padding: calc(var(--gap-small) + 5px) var(--gap-small)
    calc(var(--gap-small) + 5px) 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.formIsFilledIn {
  margin-bottom: var(--gap-small);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--pink);
  color: var(--dark-gray);
  width: 100%;
  max-width: var(--content-width);
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) {
  .loveLabel,
  .friendsLabel {
    display: block;
    margin-right: var(--gap-mini);
  }

  .loveLabel {
    color: var(--cerise);
  }

  .friendsLabel {
    color: var(--blue);
  }
}
