.form {
  width: 50%;
  border-radius: 6px;
  background-color: #03be9f;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.row {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.control {
  flex: 1;
  min-width: 10rem;
}

.controlBtn {
  margin-top: 0.7rem;
  display: flex;
  align-items: center;
}

.honeyPot {
  display: none;
  visibility: hidden;
}
