.footer {
  height: 5rem;
  bottom: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--gap-small) var(--gap-medium);
  background-color: var(--pink);
  color: var(--dark-gray);
}

.footer p {
  margin-top: var(--gap-mini);
}
