.header {
  background-color: var(--light-gray);
  width: 100%;
  border-bottom: var(--border-dark-gray);
  padding: var(--gap-small) var(--gap-medium) var(--gap-small) var(--gap-medium);
  position: relative;
}

.rainbow {
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 6rem;
  z-index: 1;
  display: flex;
}

.stripe {
  width: 30px;
  height: 100%;
  transform: skewX(30deg);
}
.pink {
  background-color: var(--pink);
}
.cerise {
  background-color: var(--cerise);
}
.green {
  background-color: var(--green);
}
.blue {
  background-color: var(--blue);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 4.5vw;
  color: var(--dark-gray);
  z-index: 2;
}

.header .nav {
  display: flex;
  flex-direction: column;
}

.navList {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.navList li {
  margin-top: var(--gap-small);
}

.toggleContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}

.admin {
  padding-top: var(--gap-small);
  padding-bottom: var(--gap-small);
  position: inherit;
  z-index: 2;
}

.adminDetails {
  font-weight: bold;
}

.adminDetails p:nth-child(2) {
  margin-top: 0.5rem;
}

.actionList,
.deleteActionList {
  margin-top: var(--gap-small);
}

.actionList li:last-child {
  margin-top: var(--gap-small);
}

.deleteAdmin {
  margin-top: var(--gap-small);
  z-index: 2;
  position: inherit;
}

.deleteActionList {
  display: flex;
}

.deleteActionList li:last-child {
  margin-left: var(--gap-small);
}

.changePasswordFormContainer {
  position: inherit;
  z-index: 2;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) {
  .logo {
    font-size: 2.5vw;
  }

  .navList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .navList li {
    margin-top: var(--gap-small);
    margin-right: var(--gap-small);
  }

  .navList li:last-child {
    margin-left: auto;
    margin-right: 0;
    padding-right: var(--gap-small);
  }

  .admin {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: var(--gap-small);
  }

  .adminDetails {
    display: flex;
    margin-bottom: var(--gap-small);
  }

  .adminDetails p:nth-child(2) {
    margin-top: 0;
    margin-left: var(--gap-mini);
  }

  .actionList {
    display: flex;
    margin-top: 0;
  }

  .actionList li:last-child {
    margin-top: 0;
    margin-left: var(--gap-small);
  }

  .changePasswordFormContainer {
    display: flex;
    justify-content: flex-end;
  }

  .deleteAdmin {
    margin-top: 0;
  }

  .deleteMessage {
    display: flex;
    justify-content: flex-end;
  }

  .deleteActionList {
    margin-top: var(--gap-small);
    justify-content: flex-end;
    padding-right: var(--gap-small);
    padding-bottom: 5px;
  }
}

/* Desktop */
@media screen and (min-width: 1121px) {
  .logo {
    font-size: 1.5vw;
  }

  .header .nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .navList {
    justify-content: flex-end;
    align-items: center;
  }

  .adminDetails p:nth-child(1) {
    margin-left: auto;
  }

  .changePasswordFormContainer {
    padding-right: var(--gap-small);
  }
}
