.header {
  width: 100%;
  background-color: var(--purple);
  box-shadow: var(--box-shadow);
  padding: 0 var(--gap-small);
}

.logo {
  font-size: 1.5rem;
  color: var(--dark-gray);
  margin: 0;
}

.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.navList li {
  margin: 0 1rem;
}

.user {
  padding: 1rem 0;
}

.userEmail {
  margin-top: 0.5rem;
}

.actions {
  padding-top: 1rem;
}

.actions button:last-child {
  margin-left: 2rem;
}

.deleteAdmin {
  max-width: 30rem;
  padding-bottom: 1rem;
}

.buttons {
  display: flex;
  margin-top: 1rem;
}

.buttons div:last-child {
  margin-left: 2rem;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

/* Desktop */
@media screen and (min-width: 1121px) {
}
