.header {
  background-color: var(--light-gray);
  width: 100%;
  border-bottom: var(--border-dark-gray);
  padding: var(--gap-small) var(--gap-medium) var(--gap-small) var(--gap-medium);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 4.5vw;
  color: var(--dark-gray);
}

.header .nav {
  display: flex;
  flex-direction: column;
}

.navList {
  display: flex;
  flex-direction: column;
}

.navList li {
  margin-top: var(--gap-small);
}

.toggleContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}

.admin {
  border-top: var(--border-dark-gray);
  padding-top: var(--gap-small);
  padding-bottom: var(--gap-small);
}

.adminDetails {
  font-weight: bold;
}

.adminDetails p:nth-child(2) {
  margin-top: 0.5rem;
}

.actionList,
.deleteActionList {
  margin-top: var(--gap-small);
}

.actionList li:last-child {
  margin-top: var(--gap-small);
}

.deleteAdmin {
  margin-top: var(--gap-small);
}

.deleteActionList {
  display: flex;
}

.deleteActionList li:last-child {
  margin-left: var(--gap-small);
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) {
  .logo {
    font-size: 2.5vw;
  }

  .navList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .navList li {
    margin-top: var(--gap-small);
    margin-right: var(--gap-small);
  }

  .navList li:last-child {
    margin-left: auto;
    margin-right: 0;
  }

  .admin {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 1.5rem;
  }

  .adminDetails {
    display: flex;
    margin-bottom: var(--gap-small);
  }

  .adminDetails p:nth-child(2) {
    margin-top: 0;
    margin-left: var(--gap-mini);
  }

  .actionList {
    display: flex;
    margin-top: 0;
  }

  .actionList li:last-child {
    margin-top: 0;
    margin-left: var(--gap-small);
  }

  .changePasswordFormContainer {
    display: flex;
    justify-content: flex-end;
    padding-right: var(--gap-small);
  }

  .deleteAdmin {
    margin-top: 0;
  }

  .deleteMessage {
    display: flex;
    justify-content: flex-end;
  }

  .deleteActionList {
    margin-top: var(--gap-small);
    justify-content: flex-end;
    padding-right: var(--gap-small);
  }
}

/* Desktop */
@media screen and (min-width: 1121px) {
  .logo {
    font-size: 1.5vw;
  }

  .header .nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .navList {
    justify-content: flex-end;
    align-items: center;
  }

  .admin {
    margin-top: var(--gap-small);
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .adminDetails {
    flex-direction: column;
    margin-right: var(--gap-small);
    margin-bottom: 0;
  }

  .adminDetails p:nth-child(1) {
    margin-left: auto;
  }

  .adminDetails p:nth-child(2) {
    margin-top: 0.5rem;
    margin-left: 0;
  }

  .changePasswordFormContainer {
    padding-right: var(--gap-small);
  }
}
