.matchListContainer {
  color: var(--dark-gray);
  width: 100%;
  max-width: var(--content-width);

  display: grid;
  grid-template-columns: 1fr;
}

.loveMatchList,
.friendMatchList {
  padding-top: var(--gap-small);
  padding-bottom: var(--gap-small);
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: block;
  margin-bottom: var(--gap-small);
}

.love,
.friends {
  display: none;
}

.matchListHeader,
.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.loveMatchList,
.friendMatchList {
  display: flex;
  flex-direction: column;
}

.loveMatchList li,
.friendMatchList li {
  padding: var(--gap-small) var(--gap-small) var(--gap-small) 0;
  border-bottom: var(--border-dark-gray);
  color: var(--dark-gray);
}
.loveMatchList li:first-child,
.friendMatchList li:first-child {
  border-bottom: none;
}

.matchName {
  text-transform: capitalize;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) {
  .matchListContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .loveMatchList {
    margin-right: var(--gap-medium);
  }

  .love,
  .friends {
    display: block;
    margin-bottom: var(--gap-small);
    margin-right: var(--gap-mini);
  }

  .love {
    color: var(--cerise);
  }
  .friends {
    color: var(--blue);
  }
}
