.matchListContainer {
  background-color: var(--yellow);
  color: var(--dark-gray);
  padding: 2rem;
}

.matchListHeader,
.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.loveMatchList,
.love,
.friendMatchList,
.friends {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.matchName {
  margin-bottom: 1rem;
}
