.matchListContainer {
  color: var(--dark-gray);
  width: 100%;
  max-width: var(--content-width);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.loveMatchList {
  background-color: var(--cerise);
  padding-top: var(--gap-small);
  padding-bottom: var(--gap-small);
}

.friendMatchList {
  background-color: var(--green);
  padding-top: var(--gap-small);
  padding-bottom: var(--gap-small);
}

.love,
.friends {
  margin-bottom: var(--gap-small);
}

.matchListHeader,
.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.loveMatchList,
.love,
.friendMatchList,
.friends {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.matchName {
  margin-bottom: 1rem;
}
