.btn {
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  background-color: var(--pink);
  border: none;
  color: var(--purple);
  padding: 0.5rem 1.5rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all 0.3s;
  text-transform: uppercase;
}

.btn:hover,
.btn:active {
  background-color: var(--dark-gray);
  color: var(--light-blue);
}
