.container {
  position: relative;
  padding-left: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid black;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: var(--light-gray);
}

.container:hover input ~ .checkmark {
  background-color: var(--light-gray);
}

.container input:checked ~ .checkmark {
  background-color: var(--blue);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 4px;
  top: 2px;
  width: 2.5px;
  height: 5px;
  border: solid var(--light-gray);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (min-width: 370px) {
  .container {
    padding-left: 26px;
    font-size: 26px;
  }

  .checkmark {
    height: 26px;
    width: 26px;
  }

  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid var(--light-gray);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) {
  /* .container {
    border: none;
  } */
}
