.input {
  font: inherit;
  padding: 0.5rem 0.25rem;
  border: none;
  width: 100%;
  background-color: var(--white);
}

.label {
  font: inherit;
  display: block;
  margin-bottom: var(--gap-mini);
  color: var(--dark-gray);
  text-align: left;
  text-transform: uppercase;
}
