.input {
  font: inherit;
  padding: 0.2rem 0.25rem;
  border: none;
  width: 100%;
  background-color: var(--light-gray);
  border-bottom: 2px dotted var(--dark-gray);
  color: var(--dark-gray);
}

.input:focus {
  outline: none;
  background-color: var(--light-gray);
}

.label {
  font: inherit;
  display: block;
  color: var(--dark-gray);
  text-align: left;
}
