.notification {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 5rem;
  min-width: 50%;
  background-color: #1b1b1b;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 3rem;
  z-index: 1;
  /* position: absolute;
  bottom: 5rem; */
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: var(--dark-gray);
  padding: var(--gap-small) var(--gap-medium);
  z-index: 2;
}

.notification h2 {
  margin: 0;
  font-size: 1.25rem;
  color: var(--dark-gray);
}

.question {
  background-color: var(--pink);
}

.pending {
  background-color: var(--blue);
}

.success {
  background-color: var(--green);
}

.error {
  background-color: var(--cerise);
}

.messageContainer {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.buttonContainer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
}

.yesBtn {
  margin-right: 1rem;
}

.closeBtn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
