.notification {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 5rem;
  min-width: 50%;
  background-color: #1b1b1b;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 3rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.notification h2 {
  margin: 0;
  font-size: 1.25rem;
  color: white;
}

.question {
  background-color: var(--purple);
}

.pending {
  background-color: var(--blue);
}

.success {
  background-color: var(--green);
}

.error {
  background-color: var(--red);
}

.messageContainer {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.buttonContainer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
}

.yesBtn {
  margin-right: 1rem;
}

.closeBtn {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
