.participants {
  width: 100%;
  min-height: 70vh;
  padding: var(--gap-small);
}

.participantListContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.participantList {
  width: 100%;
}

.participantListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: var(--border-green);
}

.deleteAllContainer {
  margin-top: var(--gap-small);
}
