.participants {
  width: 100%;
  min-height: 100vh;
  background-color: #03be9f;
}

.participantListContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 3rem;
  padding-left: 2rem;
}

.participantList {
  width: 100%;
  padding: 1rem 2rem 2rem 0;
}

.participantListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 2px solid var(--dark-gray);
}
