.ParticipantDetailsList {
  background-color: var(--pink);
  color: var(--dark-gray);
  padding: calc(var(--gap-small) + 5px) var(--gap-small) var(--gap-small)
    var(--gap-small);
  width: 100%;
  max-width: 50rem;
  text-align: center;
}

.ParticipantDetailsList h1,
.ParticipantDetailsList p {
  margin-bottom: 0.5rem;
  color: var(--dark-gray);
}

.ParticipantDetailsList p:last-child {
  margin-bottom: 0;
}
