.participantDetailsList {
  background-color: var(--pink);
  color: var(--dark-gray);
  padding: calc(var(--gap-small) + 5px) var(--gap-small) var(--gap-small)
    var(--gap-small);
  width: 100%;
  max-width: var(--content-width);
}

.participantDetailsList h1 {
  text-transform: capitalize;
}

.participantDetailsList li {
  word-break: break-word;
}

.participantDetailsList h1,
.participantDetailsList p {
  margin-bottom: 0.5rem;
  color: var(--dark-gray);
}

.participantDetailsList p:last-child {
  margin-bottom: 0;
}
