.allMatches {
  width: 100%;
  padding: var(--gap-small);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.headline {
  background-color: var(--pink);
  color: var(--dark-gray);
  padding: calc(var(--gap-small) + 5px) var(--gap-small) var(--gap-small)
    var(--gap-small);
  text-align: center;
  width: 100%;
  max-width: var(--content-width);
}

@media screen and (min-width: 1121px) {
  .allMatches {
    margin-top: 3rem;
  }
}
